# Whether or not priority applications are active.
REACT_APP_PRIORITY_APPLICATIONS_ACTIVE=false

# Whether or not applications are active at all.
REACT_APP_APPLICATIONS_ACTIVE=true

# The fully qualified domain for the backend, without a trailing slash at the end.
REACT_APP_API_ROOT=https://api.example.com

# The public key to be used for authenticating push notifications. This should be the same as the the VAPID_PUBLIC_KEY on the backend.
# See https://developers.google.com/web/fundamentals/push-notifications for more information about how push notifications
# work and how to generate the necessary VAPID keys.
REACT_APP_VAPID_PUBLIC_KEY=
